.base-menu {
    background-color :lighten(#7c7c7c,49);
}

.category-name {
    margin: 1rem;
}

.flex-col {
    margin: 1rem;
    padding: 1rem;
    border-radius: 30px;
    background: lighten(#7c7c7c,49);
    //https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow
    box-shadow:  7px 7px 5px #bebebe,
             -7px -7px 5px #ffffff;
    height: 20vh;
    max-height: 20vh;
    width: 400px;
    max-width: 80vw;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.primary-color {
    color: #7422c5;
}

.secondary-color {
    color: #ec6bf8;
}

.tertiary-color {
    color: #7c7c7c;
}

.navbar {
    margin: 0;
    padding: 20px;
    width: 90vw;
    height: 15vh;
    border-radius: 0 0 -30px -30px;
    background-color: #7422c5;
    color: #fff;
    max-width: 425px;
}

.nav-button {
    width: 100;
    height: 45;
    color: #7c7c7c;
    border: 1px #7c7c7c;
    // &:active : {
    //     color:#fff;
    //     background-color: #ec6bf8;
    //     border-radius: 30px 30px 30px 30px;
    // }
    &:hover {
        cursor: pointer;
    }
}