.navbar {
    margin: 0;
    padding: 20px;
    width: 90vw;
    height: 15vh;
    border-radius: 0 0 30px 30px;
    background-color: #7422c5;
    color: #fff;
    max-width: 425px;
    box-shadow:  7px 7px 5px #bebebe,
             -7px -7px 5px #ffffff;
}